DATABASE_URL="postgresql://user:password@localhost:5432/db"
JWT_SECRET="a_very_long_and_secure_jwt_secret_key_of_at_least_32_chars"
CORS_ORIGIN="http://localhost:5173"
PORT=3000
VITE_API_BASE_URL="http://localhost:3000"
VITE_GOOGLE_MAPS_API_KEY=google_api_key
VITE_DEV_MODE=false

# AI : Supabase Configuration
VITE_SUPABASE_URL="https://tbohscjcnwqkblewymph.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRib2hzY2pjbndxa2JsZXd5bXBoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM2NDc1MDQsImV4cCI6MjA2OTIyMzUwNH0.WnE9xfKrEV4Ihuloz-teOHGlSCsS1VK41kmRJtRV_gs"
