@import "tailwindcss";
@import "tailwindcss-primeui";
/* doesn't seem useful? */

/* Override Tailwind's display: block for Leaflet toolbar icons */
.leaflet-toolbar-icon svg {
  display: inline;
}

/* to flip any icon */
.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

/* making map background black to avoid white flash on load and on tilelayer change */
#mapDiv {
  background: black;
}

.leaflet-control-attribution a {
  color: #005a7d !important; /* Darker blue that passes WCAG AA against #ccc, otherwise ANDI flags the attribution link */
}